.picList {
    margin: auto;
    width: 500px;
}

.picUpload {
    margin: auto;
    width: 500px;
}

.pic {
    margin: auto;
}

.picItem {
    background: #faffbb;
}

.picItem:hover {
    background: #a09e9f;
}

ol {
    background: #a09e9f;
}

.picList a {
    text-decoration: none!important;
    color: black;
}

.errorlist {
    color: red;
}