{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="text-center pic">
        <img src="{{ picture.img.url }}" alt="1">
        <form action="{% url 'mainapp:get_picture' pk=picture.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if error %}
                <div class="errorlist">
                    {{ error }}
                </div>
            {% endif %}
            <button>Изменить</button>
        </form>
        <a href="{% url 'mainapp:main' %}">на главную</a>
    </div>
{% endblock %}